<template>
  <NuxtLayout>
    <NuxtPage />
    <ThemeOctopusBackground
      class="fixed left-0 top-0 -z-50 w-[150vw] scale-x-[-1] fill-zinc-100 dark:fill-zinc-900 md:-top-1/4 md:left-[15%] md:right-1/4 md:w-[100vw]"
    />
    <ThemeCursorGradient v-if="loadCursorGradient" />
  </NuxtLayout>
</template>

<script setup lang="ts">
const loadCursorGradient = ref(false);

onMounted(() => {
  addEventListener("mousemove", () => {
    loadCursorGradient.value = true;
  });
});
</script>

<style>
*,
html {
  @apply scroll-smooth;
}

body,
.theme {
  @apply bg-zinc-50 fill-zinc-950 text-zinc-950 dark:bg-zinc-950 dark:fill-zinc-50 dark:text-zinc-50;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}

p {
  @apply mb-4;
}

ul {
  @apply list-disc pl-4;
}

::selection {
  background: rgba(14, 165, 233, 0.6);
}

.link {
  @apply transition-colors duration-300 hover:text-sky-500;
}

.link-alt {
  @apply text-sky-500 transition-colors duration-300 hover:text-zinc-300;
}
</style>
