<template>
  <nav class="theme z-50 border-b">
    <LayoutContainer class="p-2 md:flex md:items-center">
      <NuxtLink to="/" class="group" title="Home">
        <ContentOctopus
          class="w-24 fill-zinc-950 transition-colors duration-300 group-hover:fill-sky-500 dark:fill-zinc-50"
        />
      </NuxtLink>
      <div class="theme navbar-list" :class="open && '-translate-x-full'">
        <div class="items-center md:ml-auto md:flex md:flex-row-reverse">
          <ThemeToggle class="mb-4 mt-1 pl-0 md:mb-0 md:mt-0" />
          <span
            class="mb-2 inline-block min-w-[90px] border-b text-sm md:hidden"
          >
            Social media
          </span>
          <ContentSocialMedia size="lg" class="mb-4 md:mb-0" />
        </div>
        <div>
          <span class="mb-2 inline-block min-w-[90px] border-b md:hidden">
            Links
          </span>
          <NavigationList
            @close="toggleNavbar"
            :links="navigation"
            :dots="showDots"
            class="flex flex-col p-0 text-4xl md:flex-row md:text-base"
          />
        </div>
      </div>
      <NavigationMobileButton
        @click="toggleNavbar"
        :open="open"
        class="fixed right-2 top-3 z-50 md:hidden"
      />
    </LayoutContainer>
  </nav>
</template>

<script setup lang="ts">
import screens from "@/utils/screens";

const { data: navigation } = await useAsyncData("navigation", () =>
  fetchContentNavigation(),
);

const open = ref(false);
const showDots = ref(false);

onMounted(() => {
  if (window.innerWidth >= screens.md) {
    showDots.value = true;
  }

  window.addEventListener("resize", () => {
    if (window.innerWidth >= screens.md) {
      open.value = false;
      showDots.value = true;
    } else {
      open.value = false;
      showDots.value = false;
    }
  });
});

function toggleNavbar() {
  if (window.innerWidth < screens.md) {
    open.value = !open.value;
  } else open.value = false;
}
</script>

<style>
.navbar-list {
  @apply fixed -right-full top-0 h-full w-11/12 border-l p-2 transition-transform duration-300;
  @apply md:static md:flex md:flex-1 md:flex-row-reverse md:items-center md:border-l-0;
}
</style>
