<template>
  <footer class="theme border-t">
    <LayoutContainer class="p-4 text-center text-xs">
      Copyleft <span class="inline-block rotate-180">&copy;</span>
      {{ new Date().getFullYear() }} No rights reserved.
    </LayoutContainer>
  </footer>
</template>
