<template>
  <ul class="list-none">
    <li
      v-for="link in links"
      :key="link._id"
      @click="$emit('close')"
      :class="
        dots && `after:ml-2 after:content-['•'] last-of-type:after:content-['']`
      "
    >
      <NuxtLink
        :to="link._path"
        class="link dark:after:text-zinc-50"
        :class="dots && 'ml-2'"
        :title="link.title"
      >
        {{ link.title }}
      </NuxtLink>
    </li>
  </ul>
</template>

<script setup lang="ts">
import { NavItem } from "@nuxt/content/dist/runtime/types";
defineProps<{
  links: NavItem[] | null;
  dots?: boolean;
}>();
</script>
