<template>
  <button
    class="theme flex h-8 w-8 items-center justify-center rounded-full border p-2"
  >
    <FontAwesomeIcon :icon="open ? 'fa-x' : 'fa-bars'" />
  </button>
</template>

<script setup lang="ts">
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
defineProps(["open"]);
</script>
