<template>
  <div class="relative h-screen">
    <LayoutContainer
      class="flex h-full flex-col items-center justify-center text-center"
    >
      <ThemeToggle class="fixed right-2 top-2 z-50" />
      <ContentOctopus class="w-56 md:w-[28rem]" />
      <section class="mb-28">
        <slot />
      </section>
      <nav class="mx-2 inline-block max-w-md">
        <NavigationList
          class="mb-4 flex justify-center border-b border-t px-2 md:text-2xl"
          dots
          :links="navigation"
        />
        <ContentSocialMedia size="xl" class="justify-center" />
      </nav>
    </LayoutContainer>
    <LayoutContainer class="min-h-full md:min-h-fit">
      <ContentDoc path="/_about" v-slot="{ doc }">
        <section :id="doc.slug">
          <h2 class="mb-8 text-3xl">{{ doc.title }}</h2>
          <ContentRenderer :value="doc" />
        </section>
      </ContentDoc>
    </LayoutContainer>
    <LayoutFooter class="theme mt-20" />
  </div>
</template>

<script setup lang="ts">
const { data } = await useAsyncData("navigation", () =>
  fetchContentNavigation(),
);

const about = { _path: "#about", title: "About" };

const navigation = data.value ? [...data.value, about] : [about];
</script>
