<template>
  <div class="relative flex h-screen flex-col pt-20">
    <LayoutNavigationBar class="fixed right-0 top-0 w-full" />
    <LayoutContainer>
      <slot />
    </LayoutContainer>
    <LayoutFooter class="mt-auto" />
  </div>
</template>
