<template>
  <div class="flex flex-col-reverse md:flex-row md:gap-4">
    <div>
      <ContentList
        path="/experience"
        :query="{ sort: [{ _file: -1 }] }"
        v-slot="{ list }"
      >
        <h1 class="mb-4">Experience</h1>
        <section v-for="xp in list" class="mb-8">
          <h2>{{ xp.company }}</h2>
          <h3>{{ xp.title }}</h3>

          <span class="mb-4 inline-block text-lg font-bold">
            [ {{ xp.dates.start }} - {{ xp.dates.end }} ]
          </span>

          <div class="max-w-xl">
            <ContentRenderer :value="xp" />
          </div>
        </section>
      </ContentList>
    </div>

    <div class="md:mt-16">
      <ContentList path="/_key-skills" v-slot="{ list }">
        <h2 class="mb-4">Key Skills</h2>
        <div class="mb-8 flex flex-wrap gap-4 md:flex-col">
          <section v-for="skill in list">
            <h3>{{ skill.title }}</h3>
            <ContentRenderer :value="skill" />
          </section>
        </div>
      </ContentList>
    </div>
  </div>
</template>

<script setup lang="ts">
definePageMeta({ layout: "secondary" });
</script>
