<template>
  <ContentDoc path="/_index" v-slot="{ doc }">
    <h1 class="text-4xl tracking-wide md:text-6xl">{{ doc.author }}</h1>
    <h2 class="text-lg md:text-3xl">{{ doc.description }}</h2>
  </ContentDoc>
</template>
