<template>
  <ContentList path="/projects" v-slot="{ list }">
    <h1 class="mb-12">Projects</h1>
    <section class="mb-12 gap-4 md:grid md:grid-cols-2">
      <ContentProjectCard
        class="m-auto"
        v-for="project in list"
        :project="project"
      />
    </section>
  </ContentList>
</template>

<script setup lang="ts">
definePageMeta({ layout: "secondary" });
</script>
