<template>
  <div class="md:flex group">
    <div>
      <img
        :src="image"
        :alt="title"
        :title="title"
        class="m-auto mb-8 w-full max-w-xs rounded-lg grayscale group-hover:grayscale-0 transition duration-300"
      />
    </div>
    <div class="m-auto max-w-lg md:px-4"><slot /></div>
  </div>
</template>

<script setup lang="ts">
defineProps(["image", "title"]);
</script>
