<template>
  <div
    class="theme mb-4 flex h-full max-w-lg flex-col overflow-hidden rounded-md border"
  >
    <NuxtLink
      v-if="project.link"
      :to="project.link"
      target="_blank"
      class="group"
      :title="`${project.title} Link`"
    >
      <div class="overflow-hidden rounded-md">
        <img
          :src="`/assets/images/${project.image}`"
          class="grayscale-[70%] transition-all duration-500 group-hover:scale-150 group-hover:grayscale-0"
          :alt="project.title"
        />
      </div>
    </NuxtLink>
    <div class="flex h-full flex-col p-4">
      <h2 class="text-center">{{ project.title }}</h2>

      <h3 class="brackets mb-8 text-center">
        <span
          v-for="role in project.roles"
          class="mr-1 inline-block after:content-[','] last-of-type:after:content-['']"
        >
          {{ role }}
        </span>
      </h3>

      <p class="mb-4">{{ project.description }}</p>

      <div class="mt-auto flex justify-between">
        <div class="flex">
          <button
            class="ml-2 cursor-default select-none"
            v-for="t in project.tech"
          >
            <NuxtLink
              v-if="t.icon"
              :title="t.title"
              :to="t.link"
              target="_blank"
              class="link"
            >
              <FontAwesomeIcon :icon="`fa-brands ${t.icon}`" />
            </NuxtLink>
            <NuxtLink
              v-else
              :title="t.title"
              :to="t.link"
              target="_blank"
              class="link"
            >
              {{ t.title }}
            </NuxtLink>
          </button>
        </div>

        <div class="flex">
          <NuxtLink
            v-if="project.link"
            :to="project.link"
            target="_blank"
            class="link"
          >
            <button class="mr-2" :title="`${project.title} Link`">
              <FontAwesomeIcon icon="fa-solid fa-link" />
            </button>
          </NuxtLink>

          <NuxtLink
            v-if="project.repository"
            :to="project.repository"
            target="_blank"
            class="link"
          >
            <button :title="`${project.title} Code Repository`">
              <FontAwesomeIcon icon="fa-brands fa-gitlab" />
            </button>
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
defineProps(["project"]);
</script>

<style scoped>
.brackets {
  @apply before:mr-1 before:inline-block before:content-['['] after:content-[']'];
}
</style>
