<template>
  <ul class="flex list-none p-0">
    <ContentList path="/_social-media" v-slot="{ list }">
      <li v-for="social in list" class="mr-2">
        <NuxtLink
          :to="social.link"
          target="_blank"
          class="link"
          :title="social.title"
        >
          <FontAwesomeIcon :icon="social.icon" :size="size" />
        </NuxtLink>
      </li>
    </ContentList>
  </ul>
</template>

<script setup lang="ts">
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

type FontAwesomeSize =
  | "2xs"
  | "xs"
  | "sm"
  | "lg"
  | "xl"
  | "2xl"
  | "1x"
  | "2x"
  | "3x"
  | "4x"
  | "5x"
  | "6x"
  | "7x"
  | "8x"
  | "9x"
  | "10x"
  | undefined;

defineProps<{
  size?: FontAwesomeSize;
}>();
</script>
