<template>
  <div
    id="pointer-gradient"
    class="pointer-gradient pointer-events-none fixed -left-[50vw] -top-[50vw] z-50 h-[100vw] w-[100vw] select-none rounded-full"
    :style="{ transform: `translate(${position.x}px, ${position.y}px)` }"
  />
</template>

<script setup lang="ts">
const position = ref({ x: 0, y: 0 });

function handleMousePosition(event: MouseEvent) {
  position.value = { x: event.clientX, y: event.clientY };
}

onMounted(() => {
  document.addEventListener("mousemove", handleMousePosition);
});

onBeforeUnmount(() => {
  document.removeEventListener("mousemove", handleMousePosition);
});
</script>

<style>
.pointer-gradient {
  background: radial-gradient(
    circle,
    rgba(14, 165, 233, 0.2) 0%,
    rgba(14, 165, 233, 0.1) 30%,
    rgba(14, 165, 233, 0) 60%
  );
}
</style>
