<template>
  <button
    class="link flex h-8 w-8 items-center justify-center rounded-full p-2"
    :title="getTitle()"
    @click="toggleTheme"
  >
    <FontAwesomeIcon
      :icon="colorMode.value === 'dark' ? 'fa-moon' : 'fa-sun'"
    />
  </button>
</template>

<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

const colorMode = useColorMode();

function toggleTheme() {
  if (colorMode.value === "dark") {
    colorMode.preference = "light";
  } else {
    colorMode.preference = "dark";
  }
}

function getTitle() {
  return colorMode.value === "dark"
    ? "Toggle Light Theme"
    : "Toggle Dark Theme";
}
</script>
